.e_form
  #title
    =t("New Section")
  - if @todosection.errors.any?
    #error_explanation
      = @error
  = render 'form'
  %br
  %space <-
  = link_to I18n.t("Back to Sections"), todosections_path