%tr
  %th.hrefs_contact
  %th.surname 
    =I18n.t("Surname")
  %th.name_patronymic 
    =I18n.t("Name Patronymic")
  %th.about_contact 
    =I18n.t("About Contact")
  %th.phone 
    =I18n.t("Phone")
  %th.address 
    =I18n.t("Address")
  %th.fax 
    =I18n.t("Fax")
  %th.email 
    =I18n.t("Email")
  %th.skype 
    =I18n.t("Skype")
  %th.site 
    =I18n.t("Site")